In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set(style="darkgrid")

In [4]:
print(tf.__version__)

2.5.0

In [6]:
df1=pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv")
df2=pd.read_csv("https://covid19.who.int/WHO-COVID-19-global-table-data.csv")

In [7]:
df1

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658
...,...,...,...,...,...,...,...,...,...,...,...,...
61895,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61896,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61897,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61898,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61899,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [8]:
data_agrupado_df1=df1[["countriesAndTerritories","Cumulative_number_for_14_days_of_COVID-19_cases_per_100000"]]
df_promedio = data_agrupado_df1.groupby("countriesAndTerritories", as_index=False).mean()

In [9]:
df_promedio

,countriesAndTerritories,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,Afghanistan,5.352608
1,Albania,78.980962
2,Algeria,8.636941
3,Andorra,488.111763
4,Angola,2.699702
...,...,...
209,Wallis_and_Futuna,NaN
210,Western_Sahara,8.308051
211,Yemen,0.422698
212,Zambia,5.446029
213,Zimbabwe,4.004037

In [32]:
print(dtaTasaMortalidadCovid.groupby('Transmission Classification').size())

Transmission Classification
Clusters of cases               43
Community transmission         149
No cases                        24
Not applicable                   1
Pending                          3
Sporadic cases                  17
Transmission Classification      1
dtype: int64

In [35]:
print(dtaContagiosCovid.groupby('continentExp').size())

continentExp
Africa          14981
America         13742
Asia            13241
Europe          17372
Oceania          2500
Other              64
continentExp        1
dtype: int64

In [25]:
print(dtaContagiosCovid.groupby('indicator').size())

indicator
-1079           1
-148            1
-15             1
-25             1
-28             1
               ..
998             1
999             2
999120          1
9992            1
weekly_count    1
Length: 6594, dtype: int64